@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.swiper {
  width: 60%;
  height: 30%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
